<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emblem_centaur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,416}</string>
                <key>spriteSourceSize</key>
                <string>{441,416}</string>
                <key>textureRect</key>
                <string>{{784,0},{441,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emblem_centaur_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,416}</string>
                <key>spriteSourceSize</key>
                <string>{440,416}</string>
                <key>textureRect</key>
                <string>{{1225,0},{440,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emblem_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,416}</string>
                <key>spriteSourceSize</key>
                <string>{395,416}</string>
                <key>textureRect</key>
                <string>{{0,416},{395,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emblem_dragon_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,416}</string>
                <key>spriteSourceSize</key>
                <string>{394,416}</string>
                <key>textureRect</key>
                <string>{{395,416},{394,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emblem_fairy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,416}</string>
                <key>spriteSourceSize</key>
                <string>{410,416}</string>
                <key>textureRect</key>
                <string>{{789,416},{410,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emblem_fairy_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,416}</string>
                <key>spriteSourceSize</key>
                <string>{410,416}</string>
                <key>textureRect</key>
                <string>{{1199,416},{410,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emblem_ghost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,416}</string>
                <key>spriteSourceSize</key>
                <string>{382,416}</string>
                <key>textureRect</key>
                <string>{{0,832},{382,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emblem_ghost_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,416}</string>
                <key>spriteSourceSize</key>
                <string>{382,416}</string>
                <key>textureRect</key>
                <string>{{382,832},{382,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emblem_golem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,416}</string>
                <key>spriteSourceSize</key>
                <string>{417,416}</string>
                <key>textureRect</key>
                <string>{{764,832},{417,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emblem_golem_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,416}</string>
                <key>spriteSourceSize</key>
                <string>{417,416}</string>
                <key>textureRect</key>
                <string>{{1181,832},{417,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emblem_medusa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,364}</string>
                <key>spriteSourceSize</key>
                <string>{392,364}</string>
                <key>textureRect</key>
                <string>{{0,0},{392,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emblem_medusa_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,365}</string>
                <key>spriteSourceSize</key>
                <string>{392,365}</string>
                <key>textureRect</key>
                <string>{{392,0},{392,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>emblem.png</string>
            <key>size</key>
            <string>{1665,1248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:646442805966d99b770f22ed461614f1:3ff56ff1a647303ab074ffa46ef55da8:63afe96e9449aa5c63795a384830138e$</string>
            <key>textureFileName</key>
            <string>emblem.png</string>
        </dict>
    </dict>
</plist>
