<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layout_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,266}</string>
                <key>spriteSourceSize</key>
                <string>{207,266}</string>
                <key>textureRect</key>
                <string>{{0,0},{207,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layout_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,266}</string>
                <key>spriteSourceSize</key>
                <string>{207,266}</string>
                <key>textureRect</key>
                <string>{{0,266},{207,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layout_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,266}</string>
                <key>spriteSourceSize</key>
                <string>{207,266}</string>
                <key>textureRect</key>
                <string>{{0,532},{207,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layout_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,266}</string>
                <key>spriteSourceSize</key>
                <string>{207,266}</string>
                <key>textureRect</key>
                <string>{{0,798},{207,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layout_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,266}</string>
                <key>spriteSourceSize</key>
                <string>{207,266}</string>
                <key>textureRect</key>
                <string>{{0,1064},{207,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layout_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,266}</string>
                <key>spriteSourceSize</key>
                <string>{207,266}</string>
                <key>textureRect</key>
                <string>{{0,1330},{207,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layout_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,266}</string>
                <key>spriteSourceSize</key>
                <string>{207,266}</string>
                <key>textureRect</key>
                <string>{{0,1596},{207,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>layout.png</string>
            <key>size</key>
            <string>{207,1862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a75958c9ddf8770897ccfbcb7b180f92:9098d26a2d4d6a0bb1b0a07ca223bf2a:21b36dc29858953a242ea4463c0ca94e$</string>
            <key>textureFileName</key>
            <string>layout.png</string>
        </dict>
    </dict>
</plist>
