<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_text_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,129}</string>
                <key>spriteSourceSize</key>
                <string>{87,129}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,163}</string>
                <key>spriteSourceSize</key>
                <string>{87,163}</string>
                <key>textureRect</key>
                <string>{{87,0},{87,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,172}</string>
                <key>spriteSourceSize</key>
                <string>{88,172}</string>
                <key>textureRect</key>
                <string>{{174,0},{88,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_i.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,167}</string>
                <key>spriteSourceSize</key>
                <string>{46,167}</string>
                <key>textureRect</key>
                <string>{{262,0},{46,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_l_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,163}</string>
                <key>spriteSourceSize</key>
                <string>{90,163}</string>
                <key>textureRect</key>
                <string>{{308,0},{90,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,127}</string>
                <key>spriteSourceSize</key>
                <string>{91,127}</string>
                <key>textureRect</key>
                <string>{{398,0},{91,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_n_Large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,163}</string>
                <key>spriteSourceSize</key>
                <string>{109,163}</string>
                <key>textureRect</key>
                <string>{{489,0},{109,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{598,0},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,132}</string>
                <key>spriteSourceSize</key>
                <string>{137,132}</string>
                <key>textureRect</key>
                <string>{{682,0},{137,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading_text.png</string>
            <key>size</key>
            <string>{819,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af832a8257efa8c0565e481e87c45a9a:3b5a7eca901d11297c113063e18177e4:bbf8b0db7e21a9c6bcde0db9021dcf15$</string>
            <key>textureFileName</key>
            <string>loading_text.png</string>
        </dict>
    </dict>
</plist>
