<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_gray_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,840}</string>
                <key>spriteSourceSize</key>
                <string>{600,840}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_gray_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,840}</string>
                <key>spriteSourceSize</key>
                <string>{600,840}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_gray_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,840}</string>
                <key>spriteSourceSize</key>
                <string>{600,840}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_gray_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,840}</string>
                <key>spriteSourceSize</key>
                <string>{600,840}</string>
                <key>textureRect</key>
                <string>{{0,840},{600,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_gray_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,840}</string>
                <key>spriteSourceSize</key>
                <string>{600,840}</string>
                <key>textureRect</key>
                <string>{{600,840},{600,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_gray_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,840}</string>
                <key>spriteSourceSize</key>
                <string>{600,840}</string>
                <key>textureRect</key>
                <string>{{1200,840},{600,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_whole_gray.png</string>
            <key>size</key>
            <string>{1800,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a47e550009e32b0e8c68e7bc023fd99:8d514082122fb39e3bc264677c3f4b0d:f8587b133139910286220f8e13364704$</string>
            <key>textureFileName</key>
            <string>monster_whole_gray.png</string>
        </dict>
    </dict>
</plist>
