<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,520}</string>
                <key>spriteSourceSize</key>
                <string>{372,520}</string>
                <key>textureRect</key>
                <string>{{0,0},{372,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,520}</string>
                <key>spriteSourceSize</key>
                <string>{372,520}</string>
                <key>textureRect</key>
                <string>{{372,0},{372,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,520}</string>
                <key>spriteSourceSize</key>
                <string>{372,520}</string>
                <key>textureRect</key>
                <string>{{0,520},{372,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,520}</string>
                <key>spriteSourceSize</key>
                <string>{372,520}</string>
                <key>textureRect</key>
                <string>{{372,520},{372,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,520}</string>
                <key>spriteSourceSize</key>
                <string>{372,520}</string>
                <key>textureRect</key>
                <string>{{0,1040},{372,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,520}</string>
                <key>spriteSourceSize</key>
                <string>{372,520}</string>
                <key>textureRect</key>
                <string>{{372,1040},{372,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{744,1560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1b0abe525e0a9bcf71ef36312089d46:cad8586434c5f88c64a78036e7e2c4f3:a6ae2b9304b7a9e734cf6a25f3604866$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>
