<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>number_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,554}</string>
                <key>spriteSourceSize</key>
                <string>{480,554}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,554}</string>
                <key>spriteSourceSize</key>
                <string>{480,554}</string>
                <key>textureRect</key>
                <string>{{480,0},{480,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,554}</string>
                <key>spriteSourceSize</key>
                <string>{480,554}</string>
                <key>textureRect</key>
                <string>{{960,0},{480,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,554}</string>
                <key>spriteSourceSize</key>
                <string>{480,554}</string>
                <key>textureRect</key>
                <string>{{1440,0},{480,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,554}</string>
                <key>spriteSourceSize</key>
                <string>{480,554}</string>
                <key>textureRect</key>
                <string>{{0,554},{480,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,554}</string>
                <key>spriteSourceSize</key>
                <string>{480,554}</string>
                <key>textureRect</key>
                <string>{{480,554},{480,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,554}</string>
                <key>spriteSourceSize</key>
                <string>{480,554}</string>
                <key>textureRect</key>
                <string>{{960,554},{480,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,554}</string>
                <key>spriteSourceSize</key>
                <string>{480,554}</string>
                <key>textureRect</key>
                <string>{{1440,554},{480,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,554}</string>
                <key>spriteSourceSize</key>
                <string>{480,554}</string>
                <key>textureRect</key>
                <string>{{0,1108},{480,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,554}</string>
                <key>spriteSourceSize</key>
                <string>{480,554}</string>
                <key>textureRect</key>
                <string>{{480,1108},{480,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>numbres.png</string>
            <key>size</key>
            <string>{1920,1662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e35b5319bd888ae08065b06d8c89a293:e45dd9d6d510849b0f2a885398f41642:4ef31e74c07b195d67fde3125559531c$</string>
            <key>textureFileName</key>
            <string>numbres.png</string>
        </dict>
    </dict>
</plist>
