<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orb_ back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,341}</string>
                <key>spriteSourceSize</key>
                <string>{295,341}</string>
                <key>textureRect</key>
                <string>{{0,0},{295,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orb_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,340}</string>
                <key>spriteSourceSize</key>
                <string>{295,340}</string>
                <key>textureRect</key>
                <string>{{295,0},{295,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orb_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,340}</string>
                <key>spriteSourceSize</key>
                <string>{295,340}</string>
                <key>textureRect</key>
                <string>{{590,0},{295,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orb_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,340}</string>
                <key>spriteSourceSize</key>
                <string>{295,340}</string>
                <key>textureRect</key>
                <string>{{0,341},{295,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orb_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,340}</string>
                <key>spriteSourceSize</key>
                <string>{295,340}</string>
                <key>textureRect</key>
                <string>{{295,341},{295,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orb_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,340}</string>
                <key>spriteSourceSize</key>
                <string>{295,340}</string>
                <key>textureRect</key>
                <string>{{590,341},{295,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orb_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,340}</string>
                <key>spriteSourceSize</key>
                <string>{295,340}</string>
                <key>textureRect</key>
                <string>{{0,681},{295,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>orb.png</string>
            <key>size</key>
            <string>{885,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8b93994934fc80f927a5c105d286394:88f9bdd68218553a2132860539dcbca0:7a4d9012c4e257b93552d20c8a94795a$</string>
            <key>textureFileName</key>
            <string>orb.png</string>
        </dict>
    </dict>
</plist>
