<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,531}</string>
                <key>spriteSourceSize</key>
                <string>{413,531}</string>
                <key>textureRect</key>
                <string>{{0,0},{413,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,531}</string>
                <key>spriteSourceSize</key>
                <string>{413,531}</string>
                <key>textureRect</key>
                <string>{{413,0},{413,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,531}</string>
                <key>spriteSourceSize</key>
                <string>{413,531}</string>
                <key>textureRect</key>
                <string>{{0,531},{413,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,620}</string>
                <key>spriteSourceSize</key>
                <string>{482,620}</string>
                <key>textureRect</key>
                <string>{{413,531},{482,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_battle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,620}</string>
                <key>spriteSourceSize</key>
                <string>{482,620}</string>
                <key>textureRect</key>
                <string>{{0,1151},{482,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_deal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,266}</string>
                <key>spriteSourceSize</key>
                <string>{207,266}</string>
                <key>textureRect</key>
                <string>{{482,1151},{207,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>progress.png</string>
            <key>size</key>
            <string>{895,1771}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fbaa1f0497786b337add7c58ad76f28:5d5a5f3dfc5383fba4eebaa4785d3aa2:d72797b2cb7ec62c6a8c5cc7ff3ff1a2$</string>
            <key>textureFileName</key>
            <string>progress.png</string>
        </dict>
    </dict>
</plist>
