<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_cutin_centaur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1921,393}</string>
                <key>spriteSourceSize</key>
                <string>{1921,393}</string>
                <key>textureRect</key>
                <string>{{0,0},{1921,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_cutin_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1921,393}</string>
                <key>spriteSourceSize</key>
                <string>{1921,393}</string>
                <key>textureRect</key>
                <string>{{1921,0},{1921,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_cutin_fairy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1921,393}</string>
                <key>spriteSourceSize</key>
                <string>{1921,393}</string>
                <key>textureRect</key>
                <string>{{0,393},{1921,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_cutin_ghost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1921,393}</string>
                <key>spriteSourceSize</key>
                <string>{1921,393}</string>
                <key>textureRect</key>
                <string>{{1921,393},{1921,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_cutin_golem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1921,393}</string>
                <key>spriteSourceSize</key>
                <string>{1921,393}</string>
                <key>textureRect</key>
                <string>{{0,786},{1921,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_cutin_medusa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1921,393}</string>
                <key>spriteSourceSize</key>
                <string>{1921,393}</string>
                <key>textureRect</key>
                <string>{{1921,786},{1921,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_cutin.png</string>
            <key>size</key>
            <string>{3842,1179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30275308b2bda24548df4b9fb1ce1684:e665694bd0150e90562ab761cfcce210:66f1415148e7031082264cfa46fb976b$</string>
            <key>textureFileName</key>
            <string>skill_cutin.png</string>
        </dict>
    </dict>
</plist>
