<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_btn_number_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,158}</string>
                <key>spriteSourceSize</key>
                <string>{239,158}</string>
                <key>textureRect</key>
                <string>{{0,0},{239,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_btn_number_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,158}</string>
                <key>spriteSourceSize</key>
                <string>{240,158}</string>
                <key>textureRect</key>
                <string>{{0,158},{240,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_btn_number_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,157}</string>
                <key>spriteSourceSize</key>
                <string>{239,157}</string>
                <key>textureRect</key>
                <string>{{0,316},{239,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_btn_number_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,157}</string>
                <key>spriteSourceSize</key>
                <string>{239,157}</string>
                <key>textureRect</key>
                <string>{{0,473},{239,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_btn_number_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,158}</string>
                <key>spriteSourceSize</key>
                <string>{239,158}</string>
                <key>textureRect</key>
                <string>{{0,630},{239,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_btn_number_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,158}</string>
                <key>spriteSourceSize</key>
                <string>{239,158}</string>
                <key>textureRect</key>
                <string>{{0,788},{239,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_btn_number_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,158}</string>
                <key>spriteSourceSize</key>
                <string>{239,158}</string>
                <key>textureRect</key>
                <string>{{0,946},{239,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_btn_number_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,157}</string>
                <key>spriteSourceSize</key>
                <string>{239,157}</string>
                <key>textureRect</key>
                <string>{{0,1104},{239,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_btn_number_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,158}</string>
                <key>spriteSourceSize</key>
                <string>{239,158}</string>
                <key>textureRect</key>
                <string>{{0,1261},{239,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_btn_number_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,157}</string>
                <key>spriteSourceSize</key>
                <string>{239,157}</string>
                <key>textureRect</key>
                <string>{{0,1419},{239,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_btn_number_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,158}</string>
                <key>spriteSourceSize</key>
                <string>{239,158}</string>
                <key>textureRect</key>
                <string>{{0,1576},{239,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title_inputNumbers.png</string>
            <key>size</key>
            <string>{240,1734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:705d3bf7d0a9dc447042ee4153d7cbba:b72681d8325494714b78d95a17b813c5:edf9f0b19334fd9ca1e6540419c43bf3$</string>
            <key>textureFileName</key>
            <string>title_inputNumbers.png</string>
        </dict>
    </dict>
</plist>
