<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,341}</string>
                <key>spriteSourceSize</key>
                <string>{296,341}</string>
                <key>textureRect</key>
                <string>{{0,682},{296,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,341}</string>
                <key>spriteSourceSize</key>
                <string>{295,341}</string>
                <key>textureRect</key>
                <string>{{0,0},{295,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,341}</string>
                <key>spriteSourceSize</key>
                <string>{295,341}</string>
                <key>textureRect</key>
                <string>{{295,0},{295,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,341}</string>
                <key>spriteSourceSize</key>
                <string>{295,341}</string>
                <key>textureRect</key>
                <string>{{590,0},{295,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,341}</string>
                <key>spriteSourceSize</key>
                <string>{295,341}</string>
                <key>textureRect</key>
                <string>{{0,341},{295,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,341}</string>
                <key>spriteSourceSize</key>
                <string>{295,341}</string>
                <key>textureRect</key>
                <string>{{295,341},{295,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,341}</string>
                <key>spriteSourceSize</key>
                <string>{295,341}</string>
                <key>textureRect</key>
                <string>{{590,341},{295,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>user_icon.png</string>
            <key>size</key>
            <string>{885,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b4940683aa1b684714b0d1004b86732:9b47a978521262a6234bcf775460e1b2:af32a6154a08699db1fb0378adbe9d4a$</string>
            <key>textureFileName</key>
            <string>user_icon.png</string>
        </dict>
    </dict>
</plist>
